* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}

section {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.text-white {
  color: white;
}

/************************* NAVBAR **************************/

.navbar {
  opacity: 0.8;
}

/* LOGO */
#logo {
  height: 80px;
  width: 80px;
  transition: transform 500ms ease;
}

#logo:hover {
  transform: rotateZ(360deg);
}

/* MENU LINKS */
.nav-item {
  border-radius: 10px;
  transition: all 300ms ease;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-link {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* MOBILE */

@media (max-width: 991px) {
  .nav-item {
    text-align: center;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
}

/************************** LANDING **************************/

#landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 743px;
  position: relative;
  padding-top: 150px;
}

.titles {
  text-align: center;
  z-index: 1;
}

.titles a {
  color: white;
  text-decoration: none;
}

.titles a:hover {
  color: white;
}

.heading {
  font-size: 5rem;
}

/* MOBILE */

@media (max-width: 400px) {
  .heading {
    font-size: 4rem;
  }
}

.name {
  color: #dc3545;
}

/* FLOATING SHAPES */

.circles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(96, 183, 199, 0.1);
  animation: animate 25s linear infinite;
  bottom: calc(-150px - 40vh);
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(220, 53, 69, 0.2);
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(158, 204, 204, 0.2);
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(96, 50, 63, 0.2);
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 15s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(220, 53, 69, 0.2);
}

.circles li:nth-child(5) {
  left: 65%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(96, 50, 63, 0.2);
}

.circles li:nth-child(6) {
  left: 75%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(114, 63, 145, 0.2);
}

.circles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 30s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(177, 207, 46, 0.2);
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 35s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(96, 50, 63, 0.2);
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 40s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(158, 204, 204, 0.2);
}

.circles li:nth-child(10) {
  left: 85%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 45s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(177, 207, 46, 0.2);
}

/* ANIMATION */

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateY(-60vh) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) rotate(720deg);
    opacity: 0;
  }
}

/************************** ABOUT **************************/

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 743px;
  position: relative;
  padding-top: 150px;
}

.section-title {
  color: #dc3545;
  font-size: 3rem;
}
